<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Wishlist</title>
  <link rel="stylesheet" href="/styles/base.css" />
  <link rel="stylesheet" href="/styles/search.css" />
  <link rel="stylesheet" href="/styles/inventory.css" />
</head>

<body>
  <div class="header">
    <div id="theme" class="toggle"></div>
    <div style="display:flex; gap: .5rem; align-items:center;">
      <a href="/search.html" class="navlink">Search</a>
      <a href="/collection.html" class="navlink">Collection</a>
      <button id="logout-btn">Log Out</button>
    </div>
  </div>

  <div class="container">
    <h1>My Wishlist</h1>
    <div id="toast-container" class="toast-container"></div>

    <div id="wishlist-list" class="card-grid"></div>
  </div>

  <script src="/scripts/util.js" defer></script>
  <script src="/scripts/auth.js" defer></script>
  <script src="/scripts/wishlist.js" defer></script>
</body>

</html>
